/* main grid for adv search */
.advancedSearchContentWrapper {
    display: grid;
    grid-area: body;
    margin: 1em 5em 3em 5em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "advSearchArea"
    "advSearchResults"
    ;
}

/* grid for searching area */
.advancedSearchDivWrapper {
    display: grid;
    grid-area: advSearchArea;
    grid-template-rows: .1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    ". advSearchTitle basicSearchLink"
    ". advSearchForm ."
    ". advSearchFooter ."
    ;
}

/* place title and basic search link */
.basicSearchLinkWrapper {
    grid-area: basicSearchLink;
}

.advSearchTitleClass {
    grid-area: advSearchTitle;
    justify-self: center
}

/* grid for searching area footer */
.advSearchFooterWrapper {
    display: grid;
    grid-area: advSearchFooter;
    margin: 0 9em 0 9em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "advSearchButton basicLinkTitle basicLink"
    ;
}

/* place footer contents */
.advSearchButtonWrapper {
    grid-area: advSearchButton;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.basicSearchLinkTitle {
    grid-area: basicLinkTitle;
    align-self: center;
    justify-self: end;
    text-align: left;
}

.basicSearchLinkWrapper {
    grid-area: basicLink;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.basicSearchLinkButton {
    grid-area: advButton;
    align-self: center;
    justify-self: center;
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 9em;
}

.advSearchButtonClass {
    grid-area: advButton;
    align-self: center;
    justify-self: center;
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 7em;
}

/* grid for rows of the search form */
.advancedSearchDivWrapperTwo {
    display: grid;
    max-height: 19em;
    margin: 0 10em 0 10em;
    padding: 0 1em 0 1em;
    grid-area: advSearchForm; 
    border: .3em solid rgba(216, 216, 216, 0.959);
    border-radius: 2em;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". searchFormOne . "
    ". searchFormTwo . "
    ". searchFormThree . "
    ;
}

/* establish row one grid, establish grid for each form section, 
place elemets in form sections, place form sections in rows */

.advSearchRowOne {
    display: grid;
    padding-bottom: 1.8em;
    border-bottom: .2em solid rgba(111, 225, 253, 0.67);
    grid-area: searchFormOne;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "brand model year"
    ;
}

.guitarBrandWrapper {
    display: grid;
    grid-area: brand;
    max-height: 2em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "brandTitle"
    "brandSubTitle"
    "brandInput"
    ;
}

.guitarBrandTitle {
    grid-area: brandTitle;
    justify-self: center;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
}

.guitarBrandSubTitle {
    grid-area: brandSubTitle;
    justify-self: center;
    margin-top: -1em;
}

.guitarBrandInput {
    grid-area: brandInput;
    justify-self: center;
    margin-top: -1em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 10em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.guitarModelWrapper {
    display: grid;
    grid-area: model;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "modelTitle"
    "modelSubTitle"
    "modelInput"
    ;
}

.guitarModelTitle {
    grid-area: modelTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.guitarModelSubTitle {
    grid-area: modelSubTitle;
    justify-self: center;
    margin-top: -1em;
}

.guitarModelInput {
    grid-area: modelInput;
    justify-self: center;
    margin-top: -1em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 10em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.guitarYearWrapper {
    display: grid;
    grid-area: year;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "yearTitle"
    "yearSubTitle"
    "yearInput"
    ;
}

.guitarYearTitle {
    grid-area: yearTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.guitarYearSubTitle {
    grid-area: yearSubTitle;
    white-space: nowrap;
    font-size: .9em;
    text-align: center;
    margin-top: -1em;
}

.guitarYearInput {
    grid-area: yearInput;
    justify-self: center;
    margin-top: -.8em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 10em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

/* row two */
.advSearchRowTwo {
    display: grid;
    grid-area: searchFormTwo;
    padding-bottom: 3em;
    border-bottom: .2em solid rgba(111, 225, 253, 0.67);
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "condition guitarOrBass electricOrAcoustic"
    ;
}

.guitarConditionWrapper {
    display: grid;
    grid-area: condition;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "conditionTitle"
    "conditionSubTitle"
    "conditionInput"
    ;
}

.guitarConditionTitle {
    grid-area: conditionTitle;
    white-space: nowrap;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    text-align: center;
}

.guitarConditionSubTitle {
    grid-area: conditionSubTitle;
    justify-self: center;
    margin-top: -1em;
}

.guitarConditionInput {
    grid-area: conditionInput;
    justify-self: center;
    margin-top: -1em;
    outline: none;
    border-radius: 7px;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.guitarOrBassWrapper {
    display: grid;
    grid-area: guitarOrBass;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "guitarOrBassTitle"
    "guitarOrBassSubTitle"
    "guitarOrBassInput"
    ;
}

.guitarOrBassTitle {
    grid-area: guitarOrBassTitle;
    white-space: nowrap;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.guitarOrBassSubTitle {
    grid-area: guitarOrBassSubTitle;
    justify-self: center;
    margin-top: -1em;  
}

.guitarOrBassInput {
    grid-area: guitarOrBassInput;
    white-space: nowrap;
    justify-self: center;
    margin-top: -.4em;
}

.electricAcousticWrapper {
    display: grid;
    max-height: 4em;
    grid-area: electricOrAcoustic;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "electricOrAcousticTitle"
    "electricOrAcousticSubTitle"
    "electricOrAcousticInput"
    ;
}

.electricAcousticTitle {
    grid-area: electricOrAcousticTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    white-space: nowrap;
}

.electricAcousticSubTitle {
    grid-area: electricOrAcousticSubTitle;
    text-align: center;
    font-size: .9em;
    margin-top: -1em;
}

.electricAcousticInput {
    grid-area: electricOrAcousticInput;
    white-space: nowrap;
    justify-self: center;
    margin-top: -.6em;
}

/* row three */
.advSearchRowThree {
    display: grid;
    grid-column-gap: 1em;
    grid-area: searchFormThree;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "finish country vintage"
    ;
}

.guitarFinishWrapper {
    display: grid;
    grid-area: finish;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "finishTitle"
    "finishSubTitle"
    "finishInput"
    ;
}

.guitarFinishTitle {
    grid-area: finishTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    white-space: nowrap;
}

.guitarFinishSubTitle {
    grid-area: finishSubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -1em;
    white-space: nowrap;
}

.guitarFinishInput {
    grid-area: finishInput;
    justify-self: center;
    margin-top: -1em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 10em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.guitarCountryWrapper {
    display: grid;
    grid-area: country;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "countryTitle"
    "countrySubTitle"
    "countryInput"
    ;
}

.guitarCountryTitle {
    grid-area: countryTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    white-space: nowrap;
}

.guitarCountrySubTitle {
    grid-area: countrySubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -1em;
    white-space: nowrap;
}

.guitarCountryInput {
    grid-area: countryInput;
    justify-self: center;
    margin-top: -1em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 10em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.vintageWrapper {
    display: grid;
    grid-area: vintage;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "vintageTitle"
    "vintageSubTitle"
    "vintageInput"
    ;
}

.vintageTitle {
    grid-area: vintageTitle;
    justify-self: center;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    text-align: center;
    white-space: nowrap;
}

.vintageSubTitle {
    grid-area: vintageSubTitle;
    font-size: .8em;
    justify-self: center;
    margin-top: -1em;
    white-space: nowrap;
}

.vintageInput {
    grid-area: vintageInput;
    justify-self: center;
    margin-top: -.5em;
    white-space: nowrap;
}


/*radio buttons and select bar stylings*/

input[type="radio"] {
    display: none;
}

.honk {
    background-color: aqua;
    border-radius: 100%;
}

select {
    background-color: #ffffff00;    
    outline: none;
}
