.advancedSearchContentWrapper {
    display: grid;
    grid-area: body;
    margin: 3em 5em 3em 5em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "advSearchArea"
    "advSearchResults"
    ;
}

.advancedSearchDivWrapper {
    display: grid;
    grid-area: advSearchArea;
    grid-template-rows: .1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    ". advSearchTitle basicSearchLink"
    ". advSearchForm ."
    ". advSearchFooter ."
    ;
}

.basicSearchLinkWrapper {
    grid-area: basicSearchLink;
}

.advSearchTitleClass {
    grid-area: advSearchTitle;
}

.advSearchButtonClass {
    grid-area: advSearchFooter;
    margin-top: 5em;
}

.advancedSearchDivWrapperTwo {
    display: grid;
    grid-area: advSearchForm;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". searchFormOne . "
    ". searchFormTwo . "
    ". searchFormThree . "
    ;
}

.advSearchRowOne {
    display: grid;
    grid-area: searchFormOne;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "brand model year"
    ;
}

.guitarBrandWrapper {
    display: grid;
    grid-area: brand;
}

.guitarModelWrapper {
    display: grid;
    grid-area: model;
}

.guitarYearWrapper {
    display: grid;
    grid-area: year;
}

.advSearchRowTwo {
    display: grid;
    grid-area: searchFormTwo;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "condition guitarOrBass electricOrAcoustic"
    ;
}

.guitarConditionWrapper {
    display: grid;
    grid-area: condition;
}

.guitarOrBassWrapper {
    display: grid;
    grid-area: guitarOrBass;
}

.electricAcousticWrapper {
    display: grid;
    grid-area: electricOrAcoustic;
}

.advSearchRowThree {
    display: grid;
    grid-area: searchFormThree;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "finish country vintage"
    ;
}

.guitarFinishWrapper {
    display: grid;
    grid-area: finish;
}

.guitarCountryWrapper {
    display: grid;
    grid-area: country;
}

.vintageWrapper {
    display: grid;
    grid-area: vintage;
}
