\.userDisplayWrapper {
    display: grid;
    grid-area: body;
    grid-template-rows: 10% 90%;
    margin-bottom: 2em;
    grid-template-areas: 
    "userDisplayTitle"
    "userGuitarDisplaySection"
    ;
}

.userDisplayTitleWrapper {
    grid-area: userDisplayTitle;
    justify-self: center;
    margin-top: 1em;
}

.userDisplayTitle {
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);    
    padding: 0 .9em .1em;
    font-size: 1.7em;
}

.displayLoadingWrapper {
    grid-area: userGuitarDisplaySection;
    justify-self: center;
    align-self: center;
}

.userGuitarDisplayWrapper {
    grid-area: userGuitarDisplaySection;
    margin: 0 2em 0 2em;
    justify-self: center;
}

.rowOfGuitars {
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    max-height: 25em;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: 
    "guitarOne guitarTwo guitarThree"
    ;
}

.rowOfGuitars:nth-child(1) {
    display: grid;
    grid-area: guitarOne;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "userGuitarTitle"
    "averagePriceInformation"
    "detailedPriceInformation"
    ;
}

.rowOfGuitars:nth-child(2) {
    display: grid;
    grid-area: guitarTwo;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "userGuitarTitle"
    "averagePriceInformation"
    "detailedPriceInformation"
    ;
}

.rowOfGuitars:nth-child(3) {
    display: grid;
    grid-area: guitarThree;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "userGuitarTitle"
    "averagePriceInformation"
    "detailedPriceInformation"
    ;
}


.userGuitarTitleClass {
    grid-area: userGuitarTitle;
}

.guitarTitleFormat {
    text-align: center;
    justify-self: center;
    margin: .4em 2em 0 2em;
    padding-bottom: .3em;
    border-bottom: .13em solid rgba(216, 216, 216, 0.959);    
}

.averagePriceInformationClass {
    grid-area: averagePriceInformation;
    text-align: center;
    justify-self: center;
}

.averagePriceFormat {
    font-size: 1.008em;
    font-weight: bold;
    justify-self: center;
    text-align: center;
    margin: .5em 2em 0 2em;
    padding: .2em;
    margin-bottom: .6em;
    border: .13em solid rgba(216, 216, 216, 0.959); 
    border-radius: .4em;   
}

.averagePriceClass {
    margin: -.3em .5em .6em .5em;
    color:  rgba(146, 146, 146, 0.9);
    white-space: nowrap;
    padding: 0 .3em .3em .3em;

}

.detailedPriceInformationClass {
    display: grid;
    margin-top: -1.3em;
    grid-area: detailedPriceInformation;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "detailOne detailTwo"
    "detailThree detailFour"
    ;
}

.userGuitar {
    border: solid .2em rgba(216, 216, 216, 0.959);
    border-radius: 1em;
    background-color: rgba(228, 228, 228, 0.32);
    max-width: 26em;
}

.detailedPriceInformationClass:nth-child(1) {
    display: grid;
    grid-area: detailOne;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "detailTitle"
    "detailAverage"
    "detailHigh"
    "detailLow"
    ;
}

.yearPriceTitle {
    grid-area: detailTitle;
    justify-self: center;
    margin-bottom: -.8em;
    font-weight: bold;
}

.yearPricesAverage {
    grid-area: detailAverage;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.yearPricesHigh {
    grid-area: detailHigh;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);

}

.yearPricesLow {
    grid-area: detailLow;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.detailedPriceInformationClass:nth-child(2) {
    display: grid;
    border: .13em solid rgba(146, 146, 146, 0.9)
    grid-area: detailTwo;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "detailTitle"
    "detailAverage"
    "detailHigh"
    "detailLow"
    ;
}

.finishPriceTitle {
    grid-area: detailTitle;
    justify-self: center;
    margin-bottom: -.8em;
    font-weight: bold;

}

.finishPricesAverage {
    grid-area: detailAverage;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.finishPricesHigh {
    grid-area: detailHigh;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.finishPricesLow {
    grid-area: detailLow;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.detailedPriceInformationClass:nth-child(3) {
    display: grid;
    grid-area: detailThree;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "detailTitle"
    "detailAverage"
    "detailHigh"
    "detailLow"
    ;
}

.conditionPriceTitle {
    grid-area: detailTitle;
    justify-self: center;
    margin-bottom: -.8em;
    font-weight: bold;
}

.conditionPricesAverage {
    grid-area: detailAverage;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.conditionPricesHigh {
    grid-area: detailHigh;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.conditionPricesLow {
    grid-area: detailLow;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.detailedPriceInformationClass:nth-child(4) {
    display: grid;
    grid-area: detailFour;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "detailTitle"
    "detailAverage"
    "detailHigh"
    "detailLow"
    ;
}

.countryPriceTitle {
    grid-area: detailTitle;
    justify-self: center;
    margin-bottom: -.8em;
    font-weight: bold;
}

.countryPricesAverage {
    grid-area: detailAverage;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.countryPricesHigh {
    grid-area: detailHigh;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.countryPricesLow {
    grid-area: detailLow;
    justify-self: center;
    margin-bottom: -.8em;
    font-size: .9em;
    color:  rgba(146, 146, 146, 0.9);
}

.userDisplayPriceAdjust {
    font-size: 1.06em;
    white-space: nowrap;
    font-weight: 800;
}

.detailedPriceTitleAdjustment {
    border: .13em solid rgba(216, 216, 216, 0.959); 
    border-radius: .4em; 
    padding: 0 .3em .2em .3em;
    margin-left: 1em;
    margin-right: 1em;
}