.mainGrid {
    display: grid;
    background-color: #FFF;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas: 
    "nav"
    "userNav"
    "body"
    ;
}

.averagePrice {
    color: rgb(111, 225, 253);
    font-size: 1.4em;    
}

.highPrice {
    color: rgba(93, 245, 32, 0.938);
    font-size: 1.4em;
}

.lowPrice {
    color: rgba(251, 32, 87, 0.918);
    font-size: 1.4em;    
}

