.mainGrid {
    display: grid;
    margin: .7em -.01em 0 -.01em;
    background-color: #FFF;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas: 
    "nav"
    "userNav"
    "body"
    ;
}

.averagePrice {
    color: rgba(111, 137, 255, 0.83);
    font-size: 1.4em;    
}

.highPrice {
    color: rgba(79, 191, 34, 0.85);
    font-size: 1.4em;
}

.lowPrice {
    color: rgba(255, 53, 103, 0.918);
    font-size: 1.4em;    
}

