.mainGrid {
    display: grid;
    margin: .7em -.01em 0 -.01em;
    background-color: #FFF;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas: 
    "nav"
    "userNav"
    "body"
    ;
}

.averagePrice {
    color: rgb(0, 0, 128);
    font-size: 1.4em;    
}

.highPrice {
    color: rgb(70, 160, 82);
    font-size: 1.4em;
}

.lowPrice {
    color: rgba(255, 53, 103, 0.918);
    font-size: 1.4em;    
}

.pacman {
    height: 3em;
    width: 3em;
}

.pacman img {
    width: 100%;
    height: auto;
}
