.navGrid {
    display: grid;
    max-height: 4em;    
    background-color: #FFF;
    margin-top: -1em;
    padding-bottom: .3em;
    border-bottom: .3em solid rgba(216, 216, 216, 0.959);
    grid-area: nav;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-areas: 
    "navBarLeft . navBarRight"
    ;
}

.navLeft {
    display: grid;
    grid-area: navBarLeft;
    grid-template-areas: 
    "logo"
    ;
}

.navRight {
    display: grid;
    grid-area: navBarRight;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "currentUser logInButton logOutButton"
    ;
}

.logoWrapper {
    grid-area: logo;
    white-space: nowrap;
    align-self: center;
    justify-self: center;
    font-size: 1.4em; 
    font-weight: 900;
    color: rgba(155, 155, 155, 0.952);
}

.currentUserWrapper {
    grid-area: currentUser;
    align-self: center;
    justify-content: center;
}

.logInButtonWrapper {
    grid-area: logInButton;
}

.logOutButtonWrapper {
    grid-area: logOutButton;
    align-self: center;
    justify-self: center;
}

.logInButtonClass {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(123, 156, 230);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 9em;
}

.logOutButtonClass {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 6em;
}

.logOutButtonClass:hover {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgba(111, 225, 253, 0.678);
    border: solid .3em rgba(111, 225, 253, 0.678);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 6em;
}

