.navGrid {
    display: grid;
    background-color: lightskyblue; 
    grid-area: nav;
    grid-template-columns: 20% 45% 35%;
    grid-template-areas: 
    "navBarLeft . navBarRight"
    ;
}

.navLeft {
    display: subgrid;
    grid-area: navBarLeft;
    grid-template-areas: 
    "logo"
    ;
}

.navRight {
    display: subgrid;
    grid-area: navBarRight;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "currentUser logInButton logOutButton"
    ;
}

.logoWrapper {
    grid-area: logo; 
}

.currentUserWrapper {
    grid-area: currentUser;
}

.logInButtonWrapper {
    grid-area: logInButton;
}

.logOutButtonWrapper {
    grid-area: logOutButton;
} 

