.mainGrid {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "nav"
    "body"
    ;
}

.navGrid {
    display: grid;
    background-color: lightskyblue; 
    grid-area: nav;
    grid-template-columns: 20% 45% 35%;
    grid-template-areas: 
    "navBarLeft . navBarRight"
    ;
}

.navLeft {
    display: subgrid;
    grid-area: navBarLeft;
    grid-template-areas: 
    "logo"
    ;
}

.navRight {
    display: subgrid;
    grid-area: navBarRight;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "currentUser logInButton logOutButton"
    ;
}

.logoWrapper {
    grid-area: logo; 
}

.currentUserWrapper {
    grid-area: currentUser;
}

.logInButtonWrapper {
    grid-area: logInButton;
}

.logOutButtonWrapper {
    grid-area: logOutButton;
}

.contentWrapper {
    display: grid;
    background-color: lightgrey;
    grid-area: body;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    ". search ."
    ". results ."
    ". . ."
    ;
}

.searchDivWrapper {
    display: subgrid;
    grid-area: search;
    grid-template-rows: 60% 40%;
    grid-template-areas:
    "basicSearchBar"
    "basicSearchButton"
    ; 
}

.basicSearchWrapper {
    grid-area: basicSearchBar;
}

.basicSearchButtonWrapper {
    grid-area: basicSearchButton;
}

