.userNavWrapper {
    display: grid;
    grid-area: userNav;
    max-height: 3em;
    margin: .3em 8em 0 8em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: .85fr 4fr .85fr;
    grid-template-areas: 
    ". . ."
    ". userNavBar ."
    ". . ."
    ;
}

.userNavButtonsRow {
    display: grid;
    border-bottom: .3em solid rgba(216, 216, 216, 0.959);
    max-height: 4em;
    background-color: #FFF;
    grid-area: userNavBar;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . . . . ."
    ". searchPrices . showGuitars . enterGuitars ."
    ". . . . . . ."
    ;
}

.searchForPricesButtonWrapper {
    grid-area: searchPrices;
    justify-self: center;
    align-self: center;
}

.showYourGuitarsButtonWrapper {
    grid-area: showGuitars;
    justify-self: center;
    align-self: center;
}

.enterNewGuitarButtonWrapper {
    grid-area: enterGuitars;
    justify-self: center;
    align-self: center;
}

.searchForPricesButton {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}

.searchForPricesButton:hover {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color:  rgba(111, 225, 253, 0.644);
    border: solid .3em rgba(111, 225, 253, 0.644);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}

.showYourGuitarsButton {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}

.showYourGuitarsButton:hover {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color:  rgba(111, 225, 253, 0.644);
    border: solid .3em  rgba(111, 225, 253, 0.644);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}

.enterNewGuitarButton {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}

.enterNewGuitarButton:hover {
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color:  rgba(111, 225, 253, 0.644);
    border: solid .3em rgba(111, 225, 253, 0.644);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 11em;
}