.guitarIntakeWrapper {
    display: grid;
    grid-area: body;
    align-self: center;
    justify-self: center;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "intakeTitle"
    "intakeForm"
    ;
}

.guitarIntakeTitleWrapper {
    display: grid;
    margin-bottom: .4em;
    grid-area: intakeTitle;
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-template-rows:  1fr;
    grid-template-areas: 
    "intakeTitleWrapper"
    ;
}

.guitarIntakeTitleDiv {
    grid-area: intakeTitleWrapper;
    display: grid;
    max-height: 6em;
    justify-self: center;
    align-self: center;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "intakeTitleText"
    "intakeSubTitleText"
    ;
}
.guitarIntakeTitle {
    grid-area: intakeTitleText;
    font-size: 2em;
    color: rgba(155, 155, 155, 0.952);
}

.guitarIntakeSubTitle {
    margin-top: -1em;
    padding-bottom: .2em;
    grid-area: intakeSubTitleText;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
}


.guitarIntakeFormWrapper {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-area: intakeForm;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
    "intakeFormFields"
    "intakeFormButton"
    ;
}

.intakeButtonWrapper {
    grid-area: intakeFormButton;
    margin-top: 1.5em;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    padding-bottom: .5em;    
}

.submitNewGuitarButton {
    align-self: center;
    justify-self: center;
    background-color: #FFF;
    outline: none;
    overflow: hidden;
    padding: .5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;
    color: rgb(111, 225, 253);
    border: solid .3em rgb(111, 225, 253);
    border-radius: 4px;
    font-size: .9em;
    font-weight: 900;
    line-height: .8em;
    width: 7em;
}

.guitarIntakeFormWrapperTwo {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-area: intakeFormFields;
    max-height: 20em;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". fieldRowOne . "
    ". fieldRowTwo . "
    ". fieldRowThree . "
    ;
}

.guitarIntakeFormRowOne {
    display: grid;
    grid-area: fieldRowOne;
    padding-bottom: 1.8em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "brand model year"
    ;
}

.intakeBrandWrapper {
    display: grid;
    grid-area: brand;
    max-height: 2em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "brandTitle"
    "brandSubTitle"
    "brandInput"
    ;
}

.intakeBrandTitle {
    grid-area: brandTitle;
    justify-self: center;
    font-size: 1.2em;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
}

.intakeBrandSubTitle {
    grid-area: brandSubTitle;
    font-size: .9em;
    justify-self: center;
    margin-top: -1em;
}

.intakeBrandInput {
    grid-area: brandInput;
    font-size: 1.1em;
    justify-self: center;
    margin-top: -.5em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    width: 8em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.intakeModelWrapper {
    display: grid;
    grid-area: model;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "modelTitle"
    "modelSubTitle"
    "modelInput"
    ;
}

.intakeModelTitle {
    grid-area: modelTitle;
    font-size: 1.2em;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.intakeModelSubTitle {
    grid-area: modelSubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -1em;
}

.intakeModelInput {
    grid-area: modelInput;
    justify-self: center;
    margin-top: -.5em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    font-size: 1.1em;
    width: 8em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.intakeYearWrapper {
    display: grid;
    grid-area: year;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "yearTitle"
    "yearSubTitle"
    "yearInput"
    ;
}

.intakeYearTitle {
    grid-area: yearTitle;
    font-size: 1.2em;
    white-space: nowrap;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.intakeYearSubTitle {
    grid-area: yearSubTitle;
    white-space: nowrap;
    font-size: .9em;
    text-align: center;
    margin-top: -1em;
}

.intakeYearInput {
    grid-area: yearInput;
    justify-self: center;
    margin-top: -.5em;
    text-align: center;
    outline: none;
    border-radius: 7px;
    font-size: 1.1em;
    width: 8em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.guitarIntakeFormRowTwo {
    display: grid;
    grid-area: fieldRowTwo;
    padding-bottom: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "condition guitarOrBass electricOrAcoustic"
    ;
}

.intakeConditionWrapper {
    display: grid;
    grid-area: condition;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "conditionTitle"
    "conditionSubTitle"
    "conditionInput"
    ;
}

.intakeConditionTitle {
    grid-area: conditionTitle;
    justify-self: center;
    white-space: nowrap;
    font-size: 1.2em;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    text-align: center;
}

.intakeConditionSubTitle {
    grid-area: conditionSubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -1em;
}

.intakeConditionInput {
    grid-area: conditionInput;
    justify-self: center;
    margin-top: -.4em;
    font-size: .99em;
    outline: none;
    border-radius: 7px;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.intakeGuitarOrBassWrapper {
    display: grid;
    grid-area: guitarOrBass;
    max-height: 4em;
    margin-right: -.3em;
    justify-self: center;
    align-self: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "guitarOrBassTitle"
    "guitarOrBassSubTitle"
    "guitarOrBassInput"
    ;
}

.intakeGuitarOrBassTitle {
    grid-area: guitarOrBassTitle;
    white-space: nowrap;
    font-size: 1.2em;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
}

.intakeGuitarOrBassSubTitle {
    grid-area: guitarOrBassSubTitle;
    justify-self: center;
    margin-top: -1em;
    font-size: .9em; 
}

.intakeGuitarOrBassInput {
    grid-area: guitarOrBassInput;
    white-space: nowrap;
    justify-self: center;
}

.intakeElectricAcousticWrapper {
    display: grid;
    max-height: 4em;
    margin-right: -1.1em;
    grid-area: electricOrAcoustic;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "electricOrAcousticTitle"
    "electricOrAcousticSubTitle"
    "electricOrAcousticInput"
    ;
}

.intakeElectricAcousticTitle {
    grid-area: electricOrAcousticTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    font-size: 1.2em;
    white-space: nowrap;
}

.intakeElectricAcousticSubTitle {
    grid-area: electricOrAcousticSubTitle;
    text-align: center;
    white-space: nowrap;
    font-size: .9em;
    margin-top: -1em;
}

.intakeElectricAcousticInput {
    grid-area: electricOrAcousticInput;
    white-space: nowrap;
    justify-self: center;
}

.guitarIntakeFormRowThree {
    display: grid;
    grid-area: fieldRowThree;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "finish country vintage"
    ;
}

.intakeGuitarFinishWrapper {
    display: grid;
    grid-area: finish;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "finishTitle"
    "finishSubTitle"
    "finishInput"
    ;
}

.intakeGuitarFinishTitle {
    grid-area: finishTitle;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    font-size: 1.2em;
    white-space: nowrap;
}

.intakeGuitarFinishSubTitle {
    grid-area: finishSubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -1em;
    white-space: nowrap;
}

.intakeGuitarFinishInput {
    grid-area: finishInput;
    justify-self: center;
    text-align: center;
    outline: none;
    border-radius: 7px;
    font-size: 1.1em;
    width: 8em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.intakeGuitarCountryWrapper {
    display: grid;
    grid-area: country;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "countryTitle"
    "countrySubTitle"
    "countryInput"
    ;
}

.intakeGuitarCountryTitle {
    grid-area: countryTitle;
    font-size: 1.1em;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    justify-self: center;
    white-space: nowrap;
}

.intakeGuitarCountrySubTitle {
    grid-area: countrySubTitle;
    justify-self: center;
    font-size: .9em;
    margin-top: -.8em;
    white-space: nowrap;
}

.intakeGuitarCountryInput {
    grid-area: countryInput;
    justify-self: center;
    text-align: center;
    outline: none;
    border-radius: 7px;
    font-size: 1.2em;
    width: 8em;
    border: .1em solid rgba(216, 216, 216, 0.959);
}

.intakeVintageWrapper {
    display: grid;
    grid-area: vintage;
    font-size: 1.1em;
    max-height: 4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "vintageTitle"
    "vintageSubTitle"
    "vintageInput"
    ;
}



.intakeVintageTitle {
    grid-area: vintageTitle;
    justify-self: center;
    border-bottom: .2em solid rgba(216, 216, 216, 0.959);
    text-align: center;
    white-space: nowrap;
}

.intakeVintageSubTitle {
    grid-area: vintageSubTitle;
    font-size: .8em;
    justify-self: center;
    margin-top: -1em;
    white-space: nowrap;
}

.intakeVintageInput {
    grid-area: vintageInput;
    justify-self: center;
    margin-top: .4em;
    white-space: nowrap;
}