<div class = "navGrid" ng-controller="NavCtrl">
    <div class="navLeft">
        <div class="logoWrapper">
            <img class="logoImg" src="../images/guitaricon.png">
            <h3 class="logoTitle">Guitar Pricer</h3>
            <p class="poweredByLogo">powered by</p>
            <img class="ebayLogo" src="../images/ebayIcon.png">
        </div>
    </div>

    <div class="navRight">
        <div class="currentUserWrapper">
            <div class="currentUserDisplay"></div>
        </div>
        <div class="logInButtonWrapper">
            <button ng-if="!isAuthenticated()" class="logInButtonClass" ng-click="routeToRegister()">Log In/Sign Up</button>
        </div>
        <div class="logOutButtonWrapper">
            <button ng-if="isAuthenticated()" class="logOutButtonClass" ng-click="logout()">Log Out</button>
        </div>
    </div>
</div>