<div ng-controller="NavCtrl">

    
    <div class="navLeft">
        <div class="siteLogo">
            <div class="logoWrapper">
                <h1>Guitar Pricer</h1>
            </div>
        </div>
    </div>

    <div class="navRight">
        <div class="authItems">
            <div class="currentUserDisplay"></div>
            <button ng-if="!isAuthenticated()" ng-click="routeToRegister()">Log In/Sign Up</button>
            <button ng-if="isAuthenticated()" ng-click="logout()">Log Out</button>
        </div>
    </div>
</div>