<div ng-include="'app/userGear/partials/userNav.html'"></div>

<div class="advancedSearchContentWrapper">
   
    <div class="advancedSearchDivWrapper">

            <div class="searchHeaderWrapper">
                <div class="advSearchTitleWrapper">
                    <h3 class="advSearchTitleClass">Advanced Search</h3>
                    <h2 class="advSearchInstructions">fill out the fields below to obtain detailed information about a guitar</h2>
                </div>
                <div class="basicSearchLinkWrapper">
                    <h4 class="basicSearchLinkTitle">If your not getting the results you want, head back to the basic search</h4>
                    <button class="basicSearchLinkButton" ng-click="toBasicSearch()">Basic Search</button>
                </div>
            </div>

            <div class="advancedSearchDivWrapperTwo">

                <div class="advSearchRowOne">

                    <div class="guitarBrandWrapper">
                        <p class="guitarBrandTitle">Guitar Brand</p>
                        <p class="guitarBrandSubTitle">*required</p>
                        <input class="guitarBrandInput" type="text" ng-model="guitarBrandInput">
                    </div>

                    <div class="guitarModelWrapper">
                        <p class="guitarModelTitle">Guitar model</p>
                        <p class="guitarModelSubTitle">*required</p>
                        <input class="guitarModelInput" type="text" ng-model="guitarModelInput">
                    </div>

                    <div class="guitarYearWrapper">
                        <p class="guitarYearTitle">Year of Production</p>
                        <p class="guitarYearSubTitle">(if unknown leave blank)</p>
                        <input class="guitarYearInput" type="text" ng-model="yearInput">
                    </div>

                </div>

                <div class="advSearchRowTwo">

                    <div class="guitarConditionWrapper">
                        <p class="guitarConditionTitle">Instrument Condition</p>
                        <p class="guitarConditionSubTitle">*required</p>
                        <select class="guitarConditionInput" ng-options="value for value in conditionValues" ng-model="selectedCondition">
                            <option value="">select condition</option>
                        </select>
                    </div>

                    <div class="guitarOrBassWrapper">
                        <p class="guitarOrBassTitle">Guitar or Bass?</p>
                        <p class="guitarOrBassSubTitle">*required</p>
                        <div class="guitarOrBassInput">
                            <label class="guitarRadio">
                                Guitar
                                <span ng-show="guitarBass === 'guitar'">
                                    <i class="far fa-circle fa-sm honk"></i>
                                </span>
                                <span ng-show="guitarBass !== 'guitar'">
                                    <i class="far fa-circle fa-sm"></i>
                                </span>
                                <input class="guitarRadioButton" ng-model="guitarBass" value="guitar" type="radio" name="guitarOrBass">
                            </label>
                            <label class="bassRadio">
                                Bass
                                <span ng-show="guitarBass === 'bass'">
                                    <i class="far fa-circle fa-sm honk"></i>
                                </span>
                                <span ng-show="guitarBass !== 'bass'">
                                    <i class="far fa-circle fa-sm"></i>
                                </span>
                                <input ng-model="guitarBass" value="bass" type="radio" name="guitarOrBass">
                            </label>
                        </div>
                    </div>

                    <div class="electricAcousticWrapper">
                        <p class="electricAcousticTitle">Electric or Acoustic?</p>
                        <p class="electricAcousticSubTitle">(check acoustic for acoustics w/ pickups)</p>
                        <div class="electricAcousticInput">
                            <label class="electricButton">
                                Electric
                                <span ng-show="electricAcoustic === 'electric'">
                                    <i class="far fa-circle fa-sm honk"></i>
                                </span>
                                <span ng-show="electricAcoustic !== 'electric'">
                                    <i class="far fa-circle fa-sm"></i>
                                </span>
                                <input ng-model="electricAcoustic" value="electric" type="radio" name="guitarType">
                            </label>
                            <label class="acousticButton">
                                Acoustic
                                <span ng-show="electricAcoustic === 'acoustic'">
                                    <i class="far fa-circle fa-sm honk"></i>
                                </span>
                                <span ng-show="electricAcoustic !== 'acoustic'">
                                    <i class="far fa-circle fa-sm"></i>
                                </span>
                                <input ng-model="electricAcoustic" value="acoustic" type="radio" name="guitarType">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="advSearchRowThree">

                        <div class="guitarFinishWrapper">
                            <p class="guitarFinishTitle">Color and/or Finish</p>
                            <p class="guitarFinishSubTitle">(leave blank if unkown)</p>
                            <input class="guitarFinishInput" type="text" ng-model="finishInput">
                        </div>

                        <div class="guitarCountryWrapper">
                            <p class="guitarCountryTitle">Country of Origin</p>
                            <p class="guitarCountrySubTitle">(leave blank if unknown)</p>
                            <input class="guitarCountryInput" type="text" ng-model="guitarCountryInput">
                        </div>

                        <div class="vintageWrapper">
                            <p class="vintageTitle">Is it vintage?</p>
                            <p class="vintageSubTitle">(30+ years old)*required</p>
                            <div class="vintageInput">
                                <label class="vintageYesButton">
                                    Yes
                                    <span ng-show="vintageCheck === 'yes'">
                                        <i class="far fa-circle fa-sm honk"></i>
                                    </span>
                                    <span ng-show="vintageCheck !== 'yes'">
                                        <i class="far fa-circle fa-sm"></i>
                                    </span>
                                    <input ng-model="vintageCheck" value="yes" type="radio" name="vintageSelect">
                                </label>
                                <label class="vintageNoButton">
                                    No
                                    <span ng-show="vintageCheck === 'no'">
                                        <i class="far fa-circle fa-sm honk"></i>
                                    </span>
                                    <span ng-show="vintageCheck !== 'no'">
                                        <i class="far fa-circle fa-sm"></i>
                                    </span>
                                    <input ng-model="vintageCheck" value="no" type="radio" name="vintageSelect">
                                </label>
                            </div>
                        </div>
                </div>
            </div>

            <div class="advSearchFooterWrapper">
                <div class="advSearchButtonWrapper">
                    <button class="advSearchButtonClass" ng-click="getAdvancedPrice(guitarBrandInput, guitarModelInput, electricAcoustic, vintageCheck, selectedCondition, finishInput, yearInput, guitarBass, guitarCountryInput)">Search</button>
                </div>
            </div>

        <div>
            <img ng-show="loading" src="../images/ajax-loader.gif">
        </div>
    </div>

    <div class="advancedSearchResultsDisplayWrapper">

        <div class="advancedSearchResultsDisplay">

            <h2 ng-show="isItTrue(prices.avgPrice) || isItFalse(prices.avgPrice)" class="generalPriceHeader">
            Price Information for a {{guitarUserSearchedFor}}
            </h2>

            <div ng-repeat="prices in searchResults" class="resultsWrapper">

                <div ng-if="isItMain(prices.priceCategory)" class="mainPrices">

                    <div class="mainPricesContentWrapper">

                        <div class="mainPricesTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                General Prices
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                Average Price
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                There were no recent sales
                            </div>
                        </div>

                        <div class="mainSubTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                (based on x results)                    
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                (there was only one matching guitar)
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                (Try our basic search or try revising your search entries)
                            </div>

                        </div>
    
                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="mainPricesAverageWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Average: {{prices.avgPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="mainPricesHighWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                High: {{prices.highPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)"  class="mainPricesLowWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Low: {{prices.lowPrice}}
                            </div>
                        </div>

                        <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)" class="mainPricesSoloWrapper">
                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{prices.avgPrice}}
                            </div>
                        </div>
                    </div>
                </div>

        
                <div ng-if="isItYear(prices.priceCategory)" class="yearPrices">

                    <div class="yearPricesContentWrapper">

                        <div class="yearPricesTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                {{searchedGuitarYear}} {{guitarUserSearchedFor}} Prices
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{searchedGuitarYear}} {{guitarUserSearchedFor}} Average
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                There were no recent sales for a {{searchedGuitarYear}} {{guitarUserSearchedFor}}
                            </div>
                        </div>

                        <div class="yearSubTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                (based on x results)                    
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                (there was only one matching guitar)
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                (Try our basic search or try a different but similiar year)
                            </div>

                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="yearPricesAverageWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Average: {{prices.avgPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="yearPricesHighWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                High: {{prices.highPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)"  class="yearPricesLowWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Low: {{prices.lowPrice}}
                            </div>
                        </div>

                        <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)" class="yearPricesSoloWrapper">
                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{prices.avgPrice}}
                            </div>
                        </div>
                    </div>
                </div>
        
                <div ng-if="isItCondition(prices.priceCategory)" class="conditionPrices">

                    <div class="conditionPricesContentWrapper">

                        <div class="conditionPricesTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                               Prices for a {{searchedGuitarCondition}} Condition {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                Average Price for {{searchedGuitarCondition}} Condition {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                There were no recent sales for a {{searchedGuitarCondition}} Condition {{guitarUserSearchedFor}}
                            </div>
                        </div>

                        <div class="conditionSubTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                (based on x results)                    
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                (there was only one matching guitar)
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                (Try our basic search or search again with a different condition)
                            </div>

                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="conditionPricesAverageWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Average: {{prices.avgPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="conditionPricesHighWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                High: {{prices.highPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)"  class="conditionPricesLowWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Low: {{prices.lowPrice}}
                            </div>
                        </div>

                        <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)" class="conditionPricesSoloWrapper">
                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{prices.avgPrice}}
                            </div>
                        </div>
                    </div>
                </div>
        
                <div ng-if="isItFinish(prices.priceCategory)" class="finishPrices">

                    <div class="finishPricesContentWrapper">

                        <div class="finishPricesTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                               Prices for a {{searchedGuitarFinish}} {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                Average Price for a {{searchedGuitarFinish}} {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                There were no recent sales for a {{searchedGuitarFinish}} {{guitarUserSearchedFor}}
                            </div>
                        </div>

                        <div class="finishSubTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                (based on x results)                    
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                (there was only one matching guitar)
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                (Try our basic search or search again for a similiar finish)
                            </div>

                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="finishPricesAverageWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Average: {{prices.avgPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="finishPricesHighWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                High: {{prices.highPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)"  class="finishPricesLowWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Low: {{prices.lowPrice}}
                            </div>
                        </div>

                        <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)" class="finishPricesSoloWrapper">
                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{prices.avgPrice}}
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="isItCountry(prices.priceCategory)" class="countryPrices">

                    <div class="countryPricesContentWrapper">

                        <div class="countryPricesTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                               Prices for a made in {{searchedGuitarCountry}} {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                Average Price for a made in {{searchedGuitarCountry}} {{guitarUserSearchedFor}}
                            </div>

                            <div ng-if="isItFalse(prices.avgPrice)">
                                There were no recent sales for a made in {{searchedGuitarCountry}} {{guitarUserSearchedFor}}
                            </div>
                        </div>

                        <div class="countrySubTitleWrapper">

                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                (based on x results)                    
                            </div>

                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                (there was only one matching guitar)
                            </div>

                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="countryPricesAverageWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Average: {{prices.avgPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)" class="countryPricesHighWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                High: {{prices.highPrice}}
                            </div>
                        </div>

                        <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)"  class="countryPricesLowWrapper">
                            <div ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice)">
                                Low: {{prices.lowPrice}}
                            </div>
                        </div>

                        <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)" class="countryPricesSoloWrapper">
                            <div ng-if="isItFalse(prices.lowPrice) && isItTrue(prices.avgPrice)">
                                {{prices.avgPrice}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>