<div ng-include="'app/userGear/partials/userNav.html'"></div>

<div class="basicSearchContentWrapper">

    <div class="advancedSearchLinkWrapper">
        <button ng-click="toAdvancedSearch()">Advanced Search</button>
    <div>

    <div class="searchDivWrapper">
        <h3>Basic Search:</h3>
        <div class="basicSearchWrapper">
            <input type="text" ng-model="basicSearchInput">
        </div>
        <div class="basicSearchButtonWrapper">
            <button ng-click="getBasicPrice(basicSearchInput)">Search</button>
        <div>
    </div>

    <div class="basicSearchResultsDisplay">
        <div ng-repeat="prices in resultsArray">
            <div>
                The average price for a {{userSearchTitle}} is ${{prices.avgPrice}}
                with a low price of ${{prices.lowPrice}} and a high price of ${{prices.highPrice}}
            </div>
        </div>
    </div>


    
</div>
