<div ng-include="'app/userGear/partials/userNav.html'"></div>

<div class="basicSearchContentWrapper">

    <div class="advancedSearchLinkWrapper">
        <h4 class="advSearchInstructionsClass">If you would like more refined search results, try our advanced search</h4>
        <button class="toAdvancedSearchButton" ng-click="toAdvancedSearch()">Advanced Search <i class="fas fa-search-plus"></i></button>
    </div>

    <div class="searchDivWrapper">
        <div class="basicSearchTitleWrapper">
            <h3 class="basicSearchTitle">Basic Search <i class="fas fa-music"></i></h3>
            <h2 class="basicSearchInstructions">
                Enter something simple like "fender stratocaster" or something more specific like "black USA fender standard stratocaster"
            </h2>
        </div>
        <div class="basicSearchWrapper">
            <input class="basicSearchBar" type="text" ng-model="basicSearchInput">
        </div>
        <div class="basicSearchButtonWrapper">
            <button class="basicSearchButton" ng-click="getBasicPrice(basicSearchInput)">Search</button>
        </div>
    </div>

    <div class="basicSearchLoadingGif pacman">
        <img ng-show="loading" src="../images/swirly.gif">
    </div>

    <div ng-show="!loading" class="basicSearchResultsDisplay">
        <div class="basicSearchResultsWrapper" ng-repeat="prices in resultsArray">

            <div class="basicSearchResultsTitles">
                <h4>Current values for a {{userSearchTitle}}:</h4>
                <p ng-if="isItTrue(prices.lowPrice) && prices.lowPrice !== prices.highPrice">(based off of {{prices.searchCount}} recent sales)</p>
                <p ng-if="isItFalse(prices.lowPrice) && prices.lowPrice === prices.highPrice">(There was only one recent sale for a {{userSearchTitle}})</p>
            </div>

            <div class="basicSearchResultsNumbers">
                <p class="averagePriceTitle" ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice && prices.lowPrice !== prices.highPrice)">Average Price</p>
                <p class="averagePriceNumbers" ng-if="isItTrue(prices.avgPrice) && isItTrue(prices.lowPrice && prices.lowPrice !== prices.highPrice)"><span class="averagePrice"><i class="fas fa-dollar-sign"></i>{{prices.avgPrice}}</span></p>
                
                <p class="highPriceTitle" ng-if="isItTrue(prices.lowPrice) && prices.lowPrice !== prices.highPrice">High Price</p>
                <p class="highPriceNumbers" ng-if="isItTrue(prices.lowPrice) && prices.lowPrice !== prices.highPrice"><span class="highPrice"><i class="fas fa-dollar-sign"></i>{{prices.highPrice}}</span></p>

                <p class="lowPriceTitle" ng-if="isItTrue(prices.lowPrice) && prices.lowPrice !== prices.highPrice">Low Price</p>
                <p class="lowPriceNumbers" ng-if="isItTrue(prices.lowPrice) && prices.lowPrice !== prices.highPrice"><span class="lowPrice"><i class="fas fa-dollar-sign"></i>{{prices.lowPrice}}</span></p>

                <p class="singleSaleTitle" ng-if="isItTrue(prices.avgPrice) && isItFalse(prices.lowPrice)">Price</p>
                <p class="singleSaleNumbers" ng-if="isItTrue(prices.avgPrice) && isItFalse(prices.lowPrice)"><span class="averagePrice"><i class="fas fa-dollar-sign"></i>{{prices.avgPrice}}</span></p>

                <p class="singleSaleTitleTwo" ng-if="isItTrue(prices.avgPrice) && prices.lowPrice === prices.highPrice">Price</p>
                <p class="singleSaleNumbersTwo" ng-if="isItTrue(prices.avgPrice) && prices.lowPrice === prices.highPrice"><span class="averagePrice"><i class="fas fa-dollar-sign"></i>{{prices.avgPrice}}</span></p>
            </div>
        </div>
    </div>


    
</div>
