app.constant("FIREBASE_CONFIG", {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
})


angular.module("GuitarPricerApp").run(function (FIREBASE_CONFIG) {
    firebase.initializeApp(FIREBASE_CONFIG)
})

angular.module("GuitarPricerApp").constant("ebayKey", "")

const isAuth = AuthFactory => new Promise ((resolve, reject) => {
    if (AuthFactory.isAuthenticated()){
        console.log("User is authenticated, resolve route promise")
        resolve()
    } else {
        console.log("User is not authenticated, reject route promise")
        reject()
    }
})

angular.module("GuitarPricerApp").config(function ($routeProvider) {
    /**
     * Configure all Angular application routes here
     */
    $routeProvider.
        when("/welcomePage", {
            templateUrl: "app/guitars/partials/welcomePage.html",
            controller: "WelcomeSearchesCtrl"
        })
        .when("/auth/register", {
            templateUrl: "app/auth/partials/register.html",
            controller: "AuthCtrl"
        })
        .when("/guitars/userHomePage", {
            templateUrl: "app/guitars/partials/userHomePage.html",
            controller: "UserHomePageCtrl",
            resolve: { isAuth }
        })
        .when("/guitars/advancedSearch", {
            templateUrl: "app/guitars/partials/advancedSearch.html",
            controller:"AdvancedSearchCtrl",
        })
        .when("/userGear/guitarIntakeForm", {
            templateUrl: "app/userGear/partials/guitarIntakeForm.html",
            controller: "GuitarIntakeCtrl",
            resolve: { isAuth }
        })
        .when("/userGear/displayUserGuitars", {
            templateUrl: "app/userGear/partials/displayUserGuitars.html",
            controller: "DisplayUserGuitarsCtrl",
            resolve: { isAuth }
        })
        .otherwise("/welcomePage")

})