<div  class="userNavButtonsWrapper" ng-controller="UserNavCtrl">

    <div class="userNavWrapper">

        <div class="userNavButtonsRow" ng-if="isAuthenticated()">
            <div class="searchForPricesButtonWrapper">
                <button class="searchForPricesButton" ng-click="toSearches()">Search For Prices</button>
            </div>
            <div class="showYourGuitarsButtonWrapper">  
                <button class="showYourGuitarsButton" ng-click="toDisplayUserGuitars()">Show Your Guitars</button>
            </div>
            <div class="enterNewGuitarButtonWrapper">
                <button class="enterNewGuitarButton" ng-click="toGuitarIntakeForm()">Enter New Guitar</button>
            </div>

        </div>


    </div>

</div>