<div  class="userNavButtonsWrapper" ng-controller="UserNavCtrl">

    <div ng-if="isAuthenticated()" class="userNavButtonsRown">
        <div class="searchForPricesButtonWrapper">
            <button ng-click="toSearches()">Search For Prices</button>
        </div>
        <div class="showYourGuitarsButtonWrapper">  
            <button>Show Your Guitars</button>
        </div>
        <div class="enterNewGuitarButtonWrapper">
            <button>Enter New Guitar</button>
        </div>

    </div>

</div>